
.a-kiosk-grid {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.a-kiosk-left-panel {
  margin: 5px 5px;
  width: 50vw;
}

.a-kiosk-right-panel {
  margin: 5px 5px;
  width: 50vw;
}
